<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Capacity Connect</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<nav>

    <h2>🎓 Capacity Connect</h2>

    <div>

        <a href="/">Home</a>

        <a href="/login">Login</a>

        <a href="/register">Register</a>

    </div>

</nav>

<div class="hero">

    <h1>Welcome to Capacity Connect</h1>

    <p>
        Build your profile, upload your resume,
        discover internships, and prepare for your career.
    </p>

    <a href="/register">
        <button>Get Started</button>
    </a>

</div>

</body>

</html>