<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Student Login</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>

<div class="login-box">

    <h1>🎓 Student Login</h1>
    {% with messages = get_flashed_messages() %}
       {% if messages %}
         <div class="alert alert-success">
             {{ messages[0] }}
         </div>
       {% endif %}
    {% endwith %}

    <form method="POST">

        <input
            type="email"
            name="email"
            placeholder="Email Address"
            required>

        <input
            type="password"
            name="password"
            placeholder="Password"
            required>

        <button type="submit">
            Login
        </button>

    </form>

    <p>
        Don't have an account?
        <a href="/register">Register</a>
    </p>

</div>

</body>
</html>